.photo{
    width: 150px;
    height: 150px;
    float: left;
    margin: 5px;
}

.post{
    border-style: solid;
    border-color: green;
    margin: 10px;
    width: 90%;
    float: left;
}

.container{
    max-width: 800px;
}